{% extends 'admin_base.html' %}

{% block content %}
{% if status %}
<div class="display-5">
    Billing Information
</div>
<hr>
<div class="text-black-50">
    Name: {{ customer_data.name }} <br>
    Phone: {{ customer_data.contact_no }} <br>
    Email: {{ customer_data.email }} <br>
</div>
<table id="data" class="table table-striped table-hover table- table-bordered">
    <thead>
        <tr>
            <th>Service</th>
            <th>Amount</th>

        </tr>
    </thead>
    <tbody>
        {% for data in bill %}
        <tr>
            <td>{{ data.name }}</td>
            <td>{{ data.amount }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr class="table-dark">
            <td>Total</td>
            <td>{{ total }}</td>
        </tr>
    </tfoot>
</table>
{% else %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">

    {{ message }}

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<div class="mt-2">
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.cust_id.label(class="form-label")}}
        {{ form.cust_id(class="form-control")}}
        <br>
        {{ form.payment_options.label(class="form-label")}}
        {{ form.payment_options(class="form-control")}}
        <br>
        {{ form.today_date.label(class="form-label")}}
        {{ form.today_date(class="form-control")}}
        <div class="container">
            {{ form.submit(class="btn btn-dark my-5 position-absolute top-150 start-50 translate-middle")}}
        </div>
        <br>
    </form>
</div>
{% endif %}
{% endblock content %}