{% extends 'admin_base.html' %}

{% block content %}
{% if data %}
<div class="container-fluid p-3 my-1">
    <div class="display-5">
        Customer Details
    </div>
    <hr>
    <table id="data" class="table table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th>Checkin ID</th>
                <th>Customer ID</th>
                <th>Room ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Email</th>
                <th>Checkin date</th>
                <th>Checkout Date</th>
                <th>Number of Children</th>
                <th>Number of Adults</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.checkin_id }}</td>
                <td>{{ user.customer_id }}</td>
                <td>{{ user.room_id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.contact_no }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.date_in }}</td>
                <td>{{ user.date_out }}</td>
                <td>{{ user.no_children }}</td>
                <td>{{ user.no_adults }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            columns: [
                { orderable: false },
                { orderable: false },
                null,
                null,
                { orderable: false },
                { orderable: false, searchable: false },
                { orderable: false },
                null,
                null,
                { orderable: false, searchable: false },
                { orderable: false, searchable: false }],
        });
    });
</script>
{% endblock scripts %}
{% else %}
<div class="container-fluid w-75 p-3">
    <h3>No data found!</h3>
</div>
{% endif %}
{% endblock content %}
