{% extends 'base.html' %}

{% block content %}
<center>
    <div class="my-4">
        <h1 class="display-1">Book your stay now!</h1>
    </div>
</center>

<br>

<!--Alert-->

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<!--Sidebar-->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="position-relative text-white bg-dark" style="height: 100%;">
        <div class="container-fluid position-absolute bottom-0 start-50 translate-middle-x">
            <hr>
            <div class="container my-3 mx-4">
                Made By <a href="https://github.com/aniketnegi">Aniket Negi</a> and Arjun Khanna.
            </div>
        </div>
    </div>
</div>
</div>
<!--Form-->
<div class="container w-50 shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label")}}*
        {{ form.name(class="form-control")}}

        <br>

        <div class="row row-cols-2">
            <div class="col">
                {{ form.phone.label(class="form-label")}}*
                {{ form.phone(class="form-control")}}
            </div>
            <div class="col">
                {{ form.email.label(class="form-label")}}*
                {{ form.email(class="form-control")}}
            </div>
        </div>

        <br>

        {{ form.address.label(class="form-label")}}*
        {{ form.address(class="form-control")}}

        <br>

        <div class="row row-cols-2">
            <div class="col">
                {{ form.id_type.label(class="form-label")}}*
                {{ form.id_type(class="form-control")}}
            </div>
            <div class="col">
                {{ form.id_number.label(class="form-label")}}*
                {{ form.id_number(class="form-control")}}
            </div>
        </div>

        <br>
        <div class="row row-cols-2">
            <div class="col">
                {{ form.arrival_date.label(class="form-label")}}*
                {{ form.arrival_date(class="form-control")}}
            </div>
            <div class="col">
                {{ form.departure_date.label(class="form-label")}}*
                {{ form.departure_date(class="form-control")}}
            </div>
        </div>

        <br>

        <div class="row row-cols-2">
            <div class="cols">
                {{ form.no_children.label(class="form-label")}}*
                {{ form.no_children(class="form-control")}}
            </div>
            <div class="cols">
                {{ form.no_adults.label(class="form-label")}}*
                {{ form.no_adults(class="form-control")}}
            </div>
        </div>

        <br>

        {{ form.room_preference.label(class="form-label")}}*
        {{ form.room_preference(class="form-control")}}

        <br>

        {{ form.comments.label(class="form-label")}}
        {{ form.comments(class="form-control")}}

        <br>

        {{ form.submit(class="btn btn-dark my-2 position-absolute top-150 start-50 translate-middle")}}

        <br>

    </form>
</div>
{% endblock content %}