{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="display-2">
        <center>
            <div class="my-4">
                Login
            </div>
        </center>
    </div>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">

        {{ message }}

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <!--Sidebar-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="position-relative text-white bg-dark" style="height: 100%;">
            <div class="container-fluid position-absolute bottom-0 start-50 translate-middle-x">
                <hr>
                <div class="container my-3 mx-4">
                    Made By <a href="https://github.com/aniketnegi">Aniket Negi</a> and Arjun Khanna.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.username.label(class="form-label")}}
        {{ form.username(class="form-control")}}
        <br>
        {{ form.password.label(class="form-label")}}
        {{ form.password(class="form-control")}}
        <br>
        <div class="d-grid gap-2 col-6 mx-auto">
            {{ form.submit(class="btn btn-dark my-2 position-absolute top-150 start-50 translate-middle")}}
        </div>
        <br>

    </form>
</div>
</div>
{% endblock content %}